div#page {
    width: 800px;
}
div#header {
    height: 100px; 
    background-color: red;
}

div#footer {

    height: 100px; 
    background-color : blue ; 
    text-align : center ; 
    clear: both;
}

div#main {
    height: 600px;
}
    
div#menu {
    float: left;
    width: 25%;
    height: 100%; 
    background-color: #0d0;
}

div#content {
    float: left;
    width: 75%;
    height: 100%;
    background-color : #eee ;
}
    