<%= stylesheet_link_tag 'application', media: 'all' %>

<div id="page">
    <div id="header"></div> 
        <div id="main">
            <div id="menu"> </div>
            <div id="content"><%= yield %> </div>
        </div>
        <div id="footer">
            RoR, 2023 
        </div>
</div>