<%= stylesheet_link_tag 'application', media: 'all' %>

<div id="page">
    <div id="header"></div> 
        <div id="main">
            <div id="menu"> 
                <% if logged_in? %>
                    <%= render 'layouts/user' %>
                <% else %>
                    <%= render 'layouts/guest' %>
                <% end %>
            </div>
            <div id="content"><%= yield %> </div>
        </div>
        <div id="footer">
            uMap, 2023 
        </div>
</div>